$primary:#79ccff;
$mode-dark:#4d4d4d;
$mode-light:#f4f4f4;
// Neutral color
$White:#f7f9fb;
$Light:#f2f2fa;
$Light-Gray:#e7ebee;
$Gray:#c8cacc;
$Dark-Gray:#a9acad;
$Deep-Gray:#828486;
$Charcoal:#393a3a;
$Black:#0a0a0a;

$family-en:Rosaline, serif;
$family-tc:"LXGW WenKai TC",cursive;

$f-f-xs:.75rem;
$f-f-sm:.85rem;
$f-f-md:1rem;
$f-f-lg:1.2rem;
$f-f-xl:1.5rem;
$f-f-xxl:1.8rem;
$f-f-ex:4rem;

$spacing-sm:12px;
$spacing-md:20px;
$spacing-lg:25px;
$spacing-xl:30px;

$spacin-x-sm:12px;
$spacin-x-md:20px;
$spacin-x-lg:25px;
$spacin-x-xl:30px;

$spacin-y-sm:12px;
$spacin-y-md:20px;
$spacin-y-lg:25px;
$spacin-y-xl:30px;

$radius-sm:6px;
$radius-md:12px;
$radius-lg:24px;
