$primary:#79ccff;
$mode-dark:#4d4d4d;
$mode-light:#f4f4f4;
// Neutral color
$White:#f7f9fb;
$Light:#f2f2fa;
$Light-Gray:#e7ebee;
$Gray:#c8cacc;
$Dark-Gray:#a9acad;
$Deep-Gray:#828486;
$Charcoal:#393a3a;
$Black:#0a0a0a;