$spacing-sm:12px;
$spacing-md:20px;
$spacing-lg:25px;
$spacing-xl:30px;

$spacin-x-sm:12px;
$spacin-x-md:20px;
$spacin-x-lg:25px;
$spacin-x-xl:30px;

$spacin-y-sm:12px;
$spacin-y-md:20px;
$spacin-y-lg:25px;
$spacin-y-xl:30px;

$radius-sm:6px;
$radius-md:12px;
$radius-lg:24px;
