$deep: #444;
$dark: #666;
$grey: #999;
$light: #f1f1f1;
$bg-1: #f2edf0;
$bg-2: #e6ece5;
$bg-3: #ecf0f4;

$p-x-10: 0 10px;
$p-x-10: 0 15px;

$f-s-sm: .8rem;
$f-s-md: 1rem;
$f-s-lg: 1.2rem;


$mediaSm :'max-width:640px';
$mediaMd :'max-width:820px';

#contact {
    position: relative;
    overflow: hidden;
    height: 100vh;

    @media($mediaMd) {
        height: auto;
    }

    .contennt {
        display: flex;
        width: 80%;

        @media($mediaSm) {
            flex-direction: column;
        }
    }
}

#topbar {
    .menu {
        padding: 0 10px;
        border-radius: 999px;

        a {
            font: {
                family: "Ubuntu", sans-serif;
                weight: 700;
                size:$f-s-sm;
            }
            line-height:$f-s-sm*1.5;
            margin: 10px;
            border-bottom: 2px solid transparent;

            &:hover {
                color: $deep;
                border-bottom: 2px solid $deep;
            }
        }
    }
}

.icon {
    &-fb {
        background-image: url(../images/icon-fb.svg);

        &:hover {
            background-image: url(../images/icon-fb-hover.svg);
        }
    }

    &-ig {
        background-image: url(../images/icon-ig.svg);

        &:hover {
            background-image: url(../images/icon-ig-hover.svg);
        }
    }

    &-line {
        background-image: url(../images/icon-line.svg);

        &:hover {
            background-image: url(../images/icon-line-hover.svg);
        }
    }
}

.title {
    h2 {
        font: {
            family: Rosaline, serif;
            size: 2rem;
        }
    }
}