@use "../variables/" as *;
@use "./mixin" as *;
%flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

%btn-animat{
    border-radius: $radius-ex;
    @extend %flex-center;
    height: 60px;
    width: 210px;
    cursor: pointer;
    margin: $space-md auto;
    @include bordered;
    color:$lesser-4;
    letter-spacing: $space-sm;
    padding-left: $space-sm;

    &:hover{
        @include amt($name:myRotate);
        span{
            @include amt($name:myStorm);
        }
    }
}